<h1>This is the index page</h1>


<ol>
  <% @articles.each do |article| %>
  <li><%= link_to "#{article.title}", article_path(article.id) %></li>
  <% end %>
</ol>

<a> <%= link_to "Create New Article", new_article_path %></a>

